// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (C) 2023 Analog Devices Inc.
 */

/dts-v1/;

#include "tegra194-p3668-0001-gmsl522-revb.dts"

/ {
	model = "Analog Devices AD-GMSL522-SL - GMSL GUI - 2.5Gbps";
};

#include "common/tegra194-gmsl522-reva-gmsl-generic.dtsi"

&gen2_i2c {
	cam1: cam1@3 {
		mode0 {
			serdes_link_freq = "1250000000";
		};
	};
	cam2: cam2@4 {
		mode0 {
			serdes_link_freq = "1250000000";
		};
	};
	cam3: cam3@5 {
		mode0 {
			serdes_link_freq = "1250000000";
		};
	};
	cam4: cam4@6 {
		mode0 {
			serdes_link_freq = "1250000000";
		};
	};
	cam5: cam5@7 {
		mode0 {
			serdes_link_freq = "1250000000";
		};
	};
	cam6: cam6@8 {
		mode0 {
			serdes_link_freq = "1250000000";
		};
	};
	cam7: cam7@9 {
		mode0 {
			serdes_link_freq = "1250000000";
		};
	};
	cam8: cam8@a {
		mode0 {
			serdes_link_freq = "1250000000";
		};
	};
	cam9: cam9@b {
		mode0 {
			serdes_link_freq = "1250000000";
		};
	};
};
